<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="app.com.vladimirjeune.popmovies">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".PopMoviesApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTop">

            <!-- singleTop makes sure that you do not remake MainActivity when return from SettingsActivity -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/action_settings"
            android:parentActivityName=".MainActivity"

            >

            <!--  -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <!-- Register MovieContentProvider -->
        <!-- Setting exported to false says this Content Provider is to be accessed by this app -->
        <!-- Set name, authorities and exported -->
        <activity
            android:name=".DetailActivity"
            android:label="@string/action_details"
            android:parentActivityName=".MainActivity"
            >

            <!--  -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
            >
        </activity>

        <activity android:name=".AboutActivity"
            android:label="@string/action_about"/>
        <provider
            android:name=".data.MovieContentProvider"
            android:authorities="@string/package_name"
            android:exported="false" />

    </application>

</manifest>